:root {
    --bg-primary: #2a2a2a;
    --bg-secondary: blueviolet;
    --text-primary: #f8f3f3;
    --pixel-unit: 8px;
}


html, body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-primary);
}

header {
    background-color: var(--bg-primary);
    background-image: url('/images/curtains.png');
    color:var(--text-primary);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 1px 1px 2px;
    padding: var(--pixel-unit);
   }

header > h1, p {
    text-align: center;
}

footer {
    display: flex;
    width: 100%;
    position: absolute;

    background-color: var(--bg-primary);
}

footer > h2 {
    display: flex;
    padding: var(--pixel-unit);
    font-style: italic;
    font-size: small;
    color: var(--text-primary);
}

#container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: var(--bg-secondary);
    background-image: url('/images/fondo_estrellas.png');
    background-position: left;
    background-repeat: repeat-x;
    background-size: 250px;
    height: 60vh;
    justify-content: center;
    align-items: center;
}

#container > figure {
    cursor: pointer;
}

#container > figure:hover {
    transform: scale(1.2);
}

.figure-item {
    width: 75px;
    height: 70px;
}